doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Shoepatos

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  body
    main#adminVue(role="main" class="container-fluid")
      nav(class="w-100 navbar navbar-expand-lg navbar-light bg-light")
        a(class="h1 font-weight-italic mr-5" href="#") Shoepatos Admin
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
          div(class="navbar-nav")
            a(class="nav-item nav-link active" href="#") Home
          button(class="btn btn-success px-5 mx-5 my-sm-0" type="button" 
          v-on:click="gotoAdditem") Add Item
        form(class="form-inline")
          button(class="btn btn-outline-danger my-2 my-sm-0" type="submit") Sign Out
      div(class="container")
        h5(class="m-3") Dashboard
        section
          table.table#notesTable
            tr
              th Item no.
              th Brand
              th Model
              th Description
              th Price
              th Actions
            tr(v-for="note in notes")
              td {{ note.id }}
              td {{ note.brand }}
              td {{ note.model }}
              td {{ note.description }}
              td {{ note.price }}
              td {{ note.instock }}
              td 
                button(class="btn btn-info mr-2 my-sm-0" v-on:click="gotoEdit") Edit
                button(class="btn btn-danger mr-2 my-sm-0" v-on:click="deleteNote(note)") Delete

    script(src="https://unpkg.com/axios/dist/axios.min.js")     
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/admin-vue.js")